/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko facebook:				 #3b5998
tlačítko facebook aktivní: #2b406e
*/
body
{
    background-color: #b2bec3;
}

div.vizitka
{
    width: 550px;
    margin: 150px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #333;
    background-color: white;
    padding: 30px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    position: relative;
}

img.photo
{
    width: 150px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 5px 5px 5px #333;
    position: absolute;
    top: -75px;
    right: -75px;
}

h1
{
    font-size: 36px;
    font-weight: 700;
    color: #d63031;
    margin: 0 0 30px 0;
}

p
{
    margin:0 0 30px 0;
    text-align: justify;
    font-size: 18px;
}

a.button
{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

a.twitter
{

    background-color: #1da1f2;
}

a.twitter:hover,
a.twitter:active,
a.twitter:focus
{
    background-color: #0b7bc1;
}

a.facebook
{
    background-color: #3b5998;
}

a.facebook:hover,
a.facebook:active,
a.facebook:focus
{
    background-color: #2b406e;
}
